{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hello, have you forgotten your password for {{ site_name }}?{% endblocktranslate %}

{% translate "You silly! No worries, though. You can go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site! Don't forget your password again! ;)" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}